/* # Global ----------------------------------------------------------------- */

:root {
    --primary: #303f9f;
    --accent: white;
    --text-fade: #666;
}

body {
    font-family: Verdana, Arial, sans-serif;
    max-width: 720px;
    margin: auto;
}

h1, h2, h3 {
    color: var(--primary);
}

p, li {
    line-height: 1.5em;
}

figure {
    margin: 0;
}

/* # Pages ------------------------------------------------------------------ */

.container {
    padding: 0 16px;
}

.article-author {
    display: inline-block;
}

.article-date {
    display: inline-block;
}

/* Code block */
div.sourceCode {
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 1.15em;
    padding: 8px 12px;
}

/* Inline code */
code:not(.sourceCode) {
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 1.15em;
    padding: 0 4px;
}

table.references td:nth-child(1) {
    min-width: 50px;
}

table.references td:nth-child(2) > a {
    word-break: break-all;
}

/* # Components ------------------------------------------------------------- */

/* Utils */

.center {
    text-align: center;
}

.space-32 {
    padding: 32px 0;
}

/* Nav */

.nav {
    background-color: var(--primary);
    padding: 8px;
}

.nav a {
    color: var(--accent);
    padding: 8px;
}

.nav a:hover {
    background-color: var(--accent);
    color: var(--primary)
}

/* Footer */

.footer-meta {
    color: var(--text-fade);
    font-style: italic;
    padding: 16px 0;
}

.footer {
    background-color: var(--primary);
    color: var(--accent);
    padding: 32px 0;
    text-align: center;
}

.footer a {
    color: var(--accent);
}
