/* # Global ----------------------------------------------------------------- */

:root {
    --primary: #303f9f;
    --primary-minus10: #202a6c;
    --accent: white;
    --text-fade: #666;
    --code-bg: #f0f0f0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    max-width: 720px;
    margin: auto;
}

h1, h2, h3 {
    color: var(--primary);
}

p, li {
    line-height: 1.5em;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
}

/* # Pages ------------------------------------------------------------------ */

.container {
    padding: 0 16px;
}

.page-author {
    display: inline-block;
}

.page-date {
    display: inline-block;
}

/* Code block */
div.sourceCode {
    background-color: var(--code-bg);
    border-radius: 4px;
    font-size: 1.15em;
    padding: 8px 12px;
}

/* Inline code */
code:not(.sourceCode) {
    background-color: var(--code-bg);
    border-radius: 4px;
    font-size: 1.15em;
    padding: 0 4px;
}

table.references td:nth-child(1) {
    min-width: 50px;
}

table.references td:nth-child(2) > a {
    word-break: break-all;
}

/* # Components ------------------------------------------------------------- */

/* Utils */

.center {
    text-align: center;
}

.space-8 {
    padding: 8px 0;
}

.space-32 {
    padding: 32px 0;
}

/* Nav 2.0 */
/* Adapted from: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

.topnav {
    overflow: hidden;
    background-color: var(--primary);
}

.topnav a {
    float: left;
    display: block;
    color: var(--accent);
    text-align: center;
    padding: 8px;
}

.topnav a:hover {
    background-color: var(--primary-minus10);
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 720px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Footer */

.footer-meta {
    color: var(--text-fade);
    font-style: italic;
    padding: 16px 0;
}

.footer {
    background-color: var(--primary);
    color: var(--accent);
    padding: 32px 0;
    text-align: center;
}

.footer a {
    color: var(--accent);
}
